<%- include('../includes/head') %>
</head>

<%- include('../includes/navigation.ejs') %>

<main class="flex-grow">
<div>
    <h1> Yet to be developed!</h1>
</div>
</main>

<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>