<footer class="bg-black py-4">
    <div class="w-full flex items-center justify-center text-white">
      <div class="w-3/4 flex justify-between">
        <div class="px-8 py-2">
          <header class="mb-4 text-md uppercase font-bold font-roboto">About agency</header>
          <div class="w-60">
            <p class="text-sm font-roboto">The world has become so fast paced that people dont want to stand by reading a page of information, they would much rather look at a presentation and understand the message.</p>
          </div>
        </div>
  
        <div class="px-8 py-2">
          <header class="mb-4 text-md uppercase font-bold font-roboto">Navigation Links</header>
          <div class="flex justify-center font-roboto">
            <ul class="text-sm">
              <li class="mb-2 text-center">
                <a href="/">Home</a>
              </li>
              <li class="mb-2 text-center">
                <a href="/blog">Blog</a>
              </li>
              <li class="mb-2 text-center">
                <a href="/team">Team</a>
              </li>
              <li class="mb-2 text-center">
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="px-8 py-2">
          <header class="mb-4 text-md uppercase font-bold font-roboto">NewsLetter</header>
          <div class="mb-4">
            <p class="text-sm font-roboto">For business professionals</p>
          </div>
          <div>
            <form action="/" method="post">
              <div class="flex">
                <input type="email" placeholder="Email Address" class="bg-black border rounded-l-lg px-6 py-2 font-roboto">
                <button type="submit" class="border rounded-r-lg px-4 pr-6 bg-white"><i class="fa fa-solid fa-paper-plane" style="color:black"></i></button>
              </div>
            </form>
          </div>
        </div>  
      </div>
    </div>

    
</footer>
</div>