<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/navigation.ejs') %> 

        <h1 class="p-20 text-6xl text-black">Booking form!</h1>
        <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>