<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/navigation.ejs') %> 
    <main class="flex-grow">
        <h1 class="p-20 text-6xl text-black">Booking form!</h1>
    </main>
        <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>