<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/navigation.ejs') %> 

    <div class="relative w-full font-archiasemibold">
        <img src="/images/hotel-pool.jpg" alt="" class="h-[42rem] w-full object-cover brightness-50">
        <div class="absolute w-full h-full top-0 flex flex-col items-center justify-center text-center align-center text-white">
            <p class="text-lg">Away from monotonous life</p>
            <p class="mb-3 text-6xl">Relax your mind!</p>
            <p class="text-lg">Stylish living spaces for business and leisure</p>
        </div>
    </div>

    <div>
        <p>Hotel Info</p>
    </div>
    <!-- <div class="p-8 grid grid-cols-2 w-full">

        <div class="rounded-lg shadow-2xl m-8 bg-white">
            <img src="/images/hotel-pool.jpg" alt="Ocean - View" class="rounded-t-lg h-92 w-full object-cover">
            
            <div class="p-8 font-archiasemibold">
                <h1>Luxirious Views!</h1>
                <p>Content</p>
            </div>
        </div>

    </div> -->
    </body>
</html>